

/* SECTION */
#profile,
#overview,
#carrier {
    position: relative;
    width: 100%;
    margin-right: auto;
    border-radius: 1rem;
    background-color: #fff;
    background-clip: border-box;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, .25);
}

.profile-thumb {
    position: absolute;
    left: 32px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transform: translateY(50%);
    background-color: blue;
    border: 8px solid #fff;
    z-index: 99;
}

.profile-topBg {
    width: 100%;
    height: 200px;
    background-color: #666;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background: url(https://images.unsplash.com/photo-1432251407527-504a6b4174a2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-bottomBg {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: #fff;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.profile-title {
    position: absolute;
    top: 2rem;
    left: 40%;
}

.profile-title h1 {
    font-weight: bold;
    margin: 0;
}

#overview,
#carrier {
    padding: 2rem;
}

#overview h2,
#carrier h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

#carrier .education {
    margin-bottom: 4rem;
}

#overview .overview-inner,
#carrier .education-inner,
#carrier .experience-inner {
    padding: 2rem;
    background-color: #F1F3F4;
    border-radius: 1rem;
}

#overview .overview-inner p {
    font-size: 1.25rem;
    margin-block-start: 0;
    margin-block-end: 1rem;
}

#overview .overview-inner p:last-child {
    margin-block-end: 0;
}

#carrier .education-inner > div {
    margin-bottom: 1.5rem;
}

#carrier .education-inner > div:last-child {
    margin-bottom: 0;
}

#carrier .education-inner h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

#carrier .education-inner p {
    font-size: 1.25rem;
    margin: 0;
}

/* ASIDE */
aside {
    margin-left: auto;
    /* width: 100%;
    height: auto;
    background-color: #fff;
    
    border-radius: 1rem;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, .25); */
}

#myInfo {
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, .25);
    padding: 2rem;
}

.box-2 {
    margin-top: 2rem;
}

#myInfo h2 {
    margin-bottom: 2rem;
}

#myInfo ul {
    position: relative;
    padding-inline-start: 0;
}

#myInfo ul li {
    padding: 0.5rem 2.5rem;
}

#myInfo ul li::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 0.25rem;
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid #0273d7;
}

#myInfo ul li p {
    margin-block-start: 0.25rem;
    margin-block-end: 0.25rem;
}

#myInfo ul li .myInfo-list-title {
    color: #747474;
    font-weight: 600;
}

#myInfo ul li .myInfo-list-text {
    color: #0273d7;
    font-weight: 600;
}