










aside .container {
    width: 100%;
    max-width: 1200px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}






/* SECTION */
.profile-container {
    position: relative;
    width: 100%;
    height: 400px;
    margin-right: auto;
    border-radius: 16px;
    background-clip: border-box;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, .25);
}

.profile-thumb {
    position: absolute;
    left: 32px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transform: translateY(50%);
    background-color: blue;
    border: 8px solid #fff;
    z-index: 99;
}

.profile-topBg {
    width: 100%;
    height: 200px;
    background-color: #666;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background: url(https://images.unsplash.com/photo-1432251407527-504a6b4174a2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-bottomBg {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: #fff;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.profile-title {
    position: absolute;
    top: 2rem;
    left: 35%;
}

.profile-title h1 {
    font-weight: bold;
    margin: 0;
}

/* ASIDE */
aside {
    width: 100%;
    height: 400px;
    background-color: #fff;
    margin-left: auto;
    border-radius: 16px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, .25);
}

.myInfo-container ul {
    position: relative;
    padding: 16px;
}

.myInfo-container li {
    display: flex;
    flex-direction: column;
    
}

.myInfo-container li::before {
    content: "";
    display: block;
    float: left;
    left: 16px;
    width: 24px;
    height: 24px;
    background-color: blue;
}