

/* SECTION */
#profile,
#overview,
#carrier {
    position: relative;
    width: 100%;
    margin-right: auto;
    border-radius: 1rem;
    background-color: #fff;
    background-clip: border-box;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, .25);
}

#profile {
    margin-bottom: 2rem;
}

#profile h1 {
    font-size: 2rem;
    font-weight: 900;
    margin: 0;
}

#profile p {
    font-size: 1.5rem;
    color: #747474;
    margin: 0;       
}

#profile .profile-thumb {
    position: absolute;
    left: 2rem;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transform: translateY(50%);
    background-color: blue;
    border: 8px solid #fff;
    z-index: 99;
}

#profile .profile-topBg {
    width: 100%;
    height: 200px;
    background-color: #666;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background: url(https://images.unsplash.com/photo-1432251407527-504a6b4174a2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-bottomBg {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: #fff;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 2rem;
}

#profile .profile-title {
    margin-left: 14rem;
}



#overview,
#carrier {
    padding: 2rem;
    margin-bottom: 2rem;
}

#overview h2,
#carrier h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

#overview .overview-inner,
#carrier .education-inner,
#carrier .experience-inner {
    padding: 2rem;
    background-color: #F1F3F4;
    border-radius: 1rem;
}

#carrier .education {
    margin-bottom: 4rem;
}

#overview p {
    font-size: 1.25rem;
    color: #747474;
    line-height: 1.5;
    margin-block-start: 0;
    margin-block-end: 1rem;
}

#overview p:last-child {
    margin-block-end: 0;
}

#carrier .education-element:not(:last-child) {
    margin-bottom: 1.5rem;
}

#carrier h3 {
    font-size: 1.25rem;
    color: #555;
    margin-bottom: 0.5rem;
}

#carrier .experience-inner:not(:last-child) {
    margin-bottom: 2rem;
}

#carrier .experience-element-title {
    margin-bottom: 0.5rem;
}

#carrier p {
    font-size: 1rem;
    color: #747474;
    line-height: 1.2;
    margin: 0;
}

/* ASIDE */
aside {
    display: block;
    margin-left: auto;
}

aside > div:not(:last-child) {
    margin-bottom: 2rem;
}

.mySwiper2 {
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 2rem;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, .25);
    display: none;
    background: #fff;
}

.swiper-slide {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start
}

#myInfo,
#skills,
#hobbies {
    position: relative;
    width: 100%;
    background: #fff;
    padding: 2rem 1.5rem;
    border-radius: 1rem;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, .25);
}

#myInfo h2,
#skills h2,
#hobbies h2 {
    margin-bottom: 2rem;
}

#myInfo .myInfo-element {
    position: relative;
    margin-bottom: 1rem;
}

#myInfo .myInfo-element::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.25rem;
    border: 2px solid #0074D9;
}

#myInfo .myInfo-element p {
    margin: 0;
    padding-left: 2.5rem;
}

#myInfo .myInfo-element .myInfo-list-title {
    color: #747474;
    font-weight: 600;
}

#myInfo .myInfo-element .myInfo-list-text {
    color: #0074D9;
    font-weight: 600;
}

#skills button,
#hobbies button {
    font-size: 0.825rem;
    font-weight: 600;
    color: #0074D9;
    background-color: #0074D920;
    border: none;
    border-radius: 0.25rem;
    padding: 0.75rem 0.75rem;
    margin-block-start: 0.25rem;
    margin-block-end: 0.25rem;
    margin-inline-end: 0.25rem;
} 