
@media (min-width: 768px) {
    .col-md-4 {
        flex: 0 0 32%;
        max-width: 32%;
        padding-left: 0;
        padding-right: 0;
    }

    .col-md-5 {
        flex: 0 0 38.6666666667%;
        max-width: 38.6666666667%;
        padding-left: 0;
        padding-right: 0;
    }

    .col-md-7 {
        flex: 0 0 58.6666666667%;
        max-width: 58.6666666667%;
        padding-left: 0;
        padding-right: 0;
    }

    .col-md-8 {
        flex: 0 0 65.3333333333%;
        max-width: 65.3333333333%;
        padding-left: 0;
        padding-right: 0;
    }

    #navbarMenuMo {
        display: none;
        visibility: hidden;
    }

    #navbar .sns {
        display: block;
    }
}

@media (min-width: 320px) and (max-width: 576px) {
    #mainBnr .mainBnr-element-left {
        padding: 2rem 1.5rem;
    }

    #mainBnr .mainBnr-element-left h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    #mainBnr .mainBnr-element-left p {
        font-size: 1rem;
        line-height: 1.2;
        text-align: center;
    }

    #mainBnr .mainBnr-element-left p br {
        display: none;
    }

    #aboutBnr,
    #worksBnr {
        padding: 2rem 1.25rem;
    }
    
    #aboutBnr .aboutBnr-title h1,
    #worksBnr .worksBnr-title h1 {
        font-size: 1.25rem;
    }

    #aboutBnr .aboutBnr-element {
        font-size: 0.75rem;
    }

    .cardCarousel {
        max-height: 420px;
    }

    .card {
        width: 210px;
        border-radius: 0.5rem;
        margin-right: 0.5rem;
    }

    .card-image {
        width: 210px;
        height: 210px;
    }

    .card-body {
        padding: 2rem 0.825rem;
    }

    .card h2  {
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }

    .card p  {
        font-size: 0.825rem;
        display: block;
    }

    .card a {
        font-size: 0.75rem;
    }

    /* FOOTER */
    footer {
        margin-top: 2rem;
    }

    .footer-inner {
        height: 96px;
        padding: 1rem;
        margin-left: auto;
        margin-right: auto;
    }

    footer .footer-inner p {
        font-size: 0.75rem;
    }

    footer .footer-inner p br {
        display: block;
    }
    footer .footer-inner p span {
        display: none;
    }


}

@media (min-width: 576px) and (max-width: 768px) {

    #mainBnr .mainBnr-element-left {
        padding: 2rem 1.5rem;
    }
    
    #mainBnr .mainBnr-element-left h1 {
        font-size: 2rem;
        text-align: center;
    }

    #mainBnr .mainBnr-element-left p {
        font-size: 1rem;
        line-height: 1.5;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    #mainBnr .mainBnr-element-left p br {
        display: block;
    }

    #aboutBnr .aboutBnr-title h1,
    #worksBnr .worksBnr-title h1 {
        font-size: 2rem;
    }

    #aboutBnr,
    #worksBnr {
        padding: 3rem 2rem;
    }

    #aboutBnr .aboutBnr-title h1,
    #worksBnr .worksBnr-title h1 {
        font-size: 1.75rem;
    }

    #aboutBnr .aboutBnr-element {
        font-size: 1rem;
    }

}

@media (min-width: 768px) and (max-width: 992px) {
    #mainBnr .mainBnr-element-left {
        
        padding: 2rem 2rem;
    }

    #mainBnr .mainBnr-element-left h1 {
        font-size: 2.25rem;
    }

    #mainBnr .mainBnr-element-left p {
        font-size: 1.25rem;
    }

    #aboutBnr,
    #worksBnr {
        padding: 2rem 1.5rem;
    }

    #aboutBnr .aboutBnr-title h1,
    #worksBnr .worksBnr-title h1 {
        font-size: 1.5rem;
    }
    
    #aboutBnr .aboutBnr-element {
        font-size: 0.75rem;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .container {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
}

@media (max-width: 768px) {

    
    header {
        height: 4rem;
    }

    #mainBnr {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-top: 6rem;
    }

    #mainBnr .mainBnr-element-left {
        position: relative;
        transform: none;
        width: 100%;
        order: 2;
    }

    #mainBnr .mainBnr-element-right {
        display: block;
        height: 300px;
        width: 100%;
        order: 1;
        border-radius: 1rem 1rem 0 0;
    }

    #navbar .logo svg {
        width: 1.5rem;
    }

    #navbar .logo,
    #navbar .navbar-nav .nav-item {
        margin-right: 1.5rem;
    }

    #navbar .nav-button {
        display: block;
    }

    #navbarMenu {
        visibility: hidden;
    }

    #navbar .sns {
        display: none;
    }
}