@media (min-width: 768.02px) {
    .col-md-5 {
        flex: 0 0 38.6666666667%;
        max-width: 38.6666666667%;
        padding-left: 0;
        padding-right: 0;
    }

    .col-md-7 {
        flex: 0 0 58.6666666667%;
        max-width: 58.6666666667%;
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 1200px) {

    .col-lg-4 {
        flex: 0 0 32%;
        max-width: 32%;
        padding-left: 0;
        padding-right: 0;
    }

    .col-lg-8 {
        flex: 0 0 65.3333333333%;
        max-width: 65.3333333333%;
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 768px) {

    main {
        width: 100%;
        max-width: 640px;
        padding-right: 1rem;
        padding-left: 1rem;
        margin-top: 8rem;
        margin-right: auto;
        margin-left: auto;
    }

    #navbar {
        height: 80px;
    }

    #navbar .logo {
        display: flex;
        align-items: center;
        margin-left: 1rem;
    }

    #navbar .nav-button {
        /* display: flex;
        flex-direction: column;
        justify-content: center; */
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        margin-right: 1rem;
    }

    #navbarMenu {
        visibility: hidden;
    }

    #navbar .sns {
        display: none;
    }

    /* MAIN BANNER */
    #mainBnr {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    #mainBnr .mainBnr-element-right {
        width: 100%;
        padding-top: calc(var(--height)/3);
        order: 1;
        border-radius: 1rem 1rem 0 0;
    }

    #mainBnr .mainBnr-element-left {
        position: static;
        transform: none;
        width: 100%;
        order: 2;
        padding: 2rem 1.25rem;
    }

    #mainBnr p br {
        display: none;
    }

    /* ABOUT BANNER & WORKS BANNER */
    #aboutBnr,
    #worksBnr {
        padding: 2rem 1.25rem;
        margin-bottom: 2rem;
    }

    .swiper-button-prev,
    .swiper-button-next {
       display: none;
    }

    /* FOOTER */
    footer {
        margin-top: 2rem;
    }

    footer .footer-inner {
        height: 96px;
        padding: 1rem;
        margin-left: auto;
        margin-right: auto;
    }

    footer .footer-inner p {
        font-size: 0.75rem;
    }

    footer .footer-inner p br {
        display: block;
    }

    footer .footer-inner p span {
        display: none;
    }

}

@media (min-width: 320px) and (max-width: 375px) {

    #navbar .logo {
        margin-left: 0;
    }

    #navbar .nav-button {
        margin-right:0;
    }

    #mainBnr .mainBnr-element-right {
        padding-top: calc(var(--height)/2.5);
    }

    #mainBnr h1 {
        font-size: 1.5rem;
        text-align: left;
        margin-bottom: 1rem;
    }
    
    #mainBnr p {
        font-size: 1rem;
        line-height: 1.4;
        text-align: left;
    }

    #mainBnr p:not(:last-child) {
        margin-bottom: 1rem;
    }

    #aboutBnr h1,
    #worksBnr h1 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    #aboutBnr h2,
    #worksBnr h2 {
        font-size: 1.25rem;
    }

    #aboutBnr .aboutBnr-head,
    #worksBnr .worksBnr-head {
        margin-bottom: 1.5rem;
    }

    #aboutBnr .aboutBnr-thumb {
        width: 160px;
        height: 160px;
    }

    #aboutBnr .aboutBnr-element {
        font-size: 0.75rem;
        padding: 0.75rem 0;
    }

    #aboutBnr h3 {
        font-size: 1rem;
    }

    #worksBnr h1 br {
        display: none;
    }


    #cardCarousel .card .card-body {
        padding: 1.5rem 1rem;
    }

    #cardCarousel .card .card-body h2 {
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }

    #cardCarousel .card .card-body p {
        font-size: 0.825rem;
        margin-block-end: 1rem;
    }
    
    #cardCarousel .card .card-body a {
        font-size: 0.825rem;
        padding: 0.75rem;
    }

    .swiper-pagination-bullet {
        width: 0.625rem;
        height: 0.625rem;
        margin-inline-start: 0.5rem;
    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: 0.4rem;
    }
    
}

@media (min-width: 375.02px) and (max-width: 480px) {

    #mainBnr .mainBnr-element-right {
        padding-top: calc(var(--height)/2);
    }

    #mainBnr .mainBnr-element-left {
        padding: 2rem 1.5rem;
    }

    #mainBnr h1 {
        font-size: 2rem;
        text-align: left;
    }

    #aboutBnr h1,
    #worksBnr h1 {
        font-size: 2rem;
    }

    #aboutBnr h2,
    #worksBnr h2 {
        font-size: 1.5rem;
    }

    #aboutBnr .aboutBnr-thumb {
        width: 200px;
        height: 200px;
    }

    #aboutBnr .aboutBnr-element {
        font-size: 1rem;
        padding: 0.75rem 0;
    }

    #aboutBnr h3 {
        font-size: 1.5rem;
        padding: 0.825rem;
    }


    #cardCarousel .card .card-body {
        padding: 1.5rem 1.5rem;
    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: 0.5rem;
    }
    
}

@media (min-width: 480.02px) and (max-width: 768px) {
    #mainBnr .mainBnr-element-right {
        padding-top: calc(var(--height)/1.5);
    }

    #mainBnr .mainBnr-element-left {
        padding: 4rem 2rem;
    }

    #mainBnr h1 {
        font-size: 2.75rem;
        text-align: left;
    }

    #mainBnr p {
        font-size: 1.5rem;
        line-height: 1.4;
        text-align: left;
    }
    
    #aboutBnr,
    #worksBnr {
        padding: 4rem 2rem;
    }

    #aboutBnr h1,
    #worksBnr h1 {
        font-size: 2.75rem;
    }

    #aboutBnr h2,
    #worksBnr h2 {
        font-size: 2rem;
    }

    #aboutBnr h3 {
        font-size: 1.75rem;
        padding: 0.825rem;
    }

    #aboutBnr .aboutBnr-thumb {
        width: 280px;
        height: 280px;
    }

    #aboutBnr .aboutBnr-element {
        font-size: 1.25rem;
        padding: 1rem 0;
    }

    #worksBnr h1 br {
        display: none;
    }


    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: 1.25rem;
    }
}

@media (min-width: 768.02px) and (max-width: 992px) {
    #mainBnr h1 {
        font-size: 2.5rem;
        text-align: left;
    }

    #aboutBnr h1,
    #worksBnr h1 {
        font-size: 1.825rem;
    }

    #aboutBnr h2,
    #worksBnr h2 {
        font-size: 1.25rem;
    }

    #aboutBnr .aboutBnr-thumb {
        width: 180px;
        height: 180px;
    }


    .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
        left: 2rem;
        right: auto;
    }
    
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
        right: 2rem;
        left: auto;
    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: 1.75rem;
    }
}