
@media (min-width: 768px) {
    .col-md-4 {
        flex: 0 0 32%;
        max-width: 32%;
        padding-left: 0;
        padding-right: 0;
    }

    .col-md-5 {
        flex: 0 0 38.6666666667%;
        max-width: 38.6666666667%;
        padding-left: 0;
        padding-right: 0;
    }

    .col-md-7 {
        flex: 0 0 58.6666666667%;
        max-width: 58.6666666667%;
        padding-left: 0;
        padding-right: 0;
    }

    .col-md-8 {
        flex: 0 0 65.3333333333%;
        max-width: 65.3333333333%;
        padding-left: 0;
        padding-right: 0;
    }

    #navbarMenuMo {
        visibility: hidden;
    }

    .navbar-toggler {
        display: none;
    }
}

@media (max-width: 768px) {

    #navbar .sns {
        display: none;
    }

    .container {
        padding-right: 24px;
        padding-left: 24px;
    }

    header {
        height: 64px;
    }

    #navbar {
        justify-content: space-between;
        
    }

    #navbar .logo svg {
        width: 24px;
    }

    #navbar .logo,
    #navbar .navbar-nav .nav-item {
        margin-right: 24px;
    }

    #navbarMenu {
        visibility: hidden;
    }

    #navbarMenu .sns {
        display: none;
    }

    #mainBnr {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-top: 96px;
    }

    #mainBnr .mainBnr-element-left {
        position: relative;
        transform: none;
        width: 100%;
        order: 2;
        padding: 24px 16px;
    }

    #mainBnr .mainBnr-element-left h1 {
        font-size: 24px;
        text-align: center;
    }

    #mainBnr .mainBnr-element-left p {
        font-size: 14px;
        line-height: 1.5;
        text-align: center;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    #mainBnr .mainBnr-element-left p br {
        display: none;
    }

    #mainBnr .mainBnr-element-right {
        display: block;
        height: 300px;
        width: 100%;
        order: 1;
        border-radius: 16px 16px 0 0;
    }


    #aboutBnr,
    #worksBnr {
        padding: 24px 16px;
    }

    #aboutBnr .aboutBnr-head,
    #aboutBnr .aboutBnr-title,
    #worksBnr .worksBnr-head,
    #worksBnr .worksBnr-title {
        margin-bottom: 24px;
    }

    #aboutBnr .aboutBnr-head h2 {
        font-size: 20px;;
    }

    #aboutBnr .aboutBnr-title h1,
    #worksBnr .worksBnr-title h1 {
        font-size: 24px;
    }

    #aboutBnr .aboutBnr-item-title h3 {
        font-size: 16px;
    }

    #aboutBnr .aboutBnr-element {
        font-size: 12px;
    }

    #worksBnr .worksBnr-head h2 {
        font-size: 20px;
    }

    #worksBnr .worksBnr-title h1 br {
        display: none;
    }

    .card {
        width: 210px;
        border-radius: 8px;
        margin-right: 8px;
    }

    .card-image {
        width: 210px;
        height: 210px;
    }

    .card h2  {
        font-size: 16px;
        margin-bottom: 16px;
    }

    .card p  {
        font-size: 12px;
    }


    /* FOOTER */
    footer {
        margin-top: 32px;
    }
    .footer-inner {
        height: 106px;
    }

    footer .footer-inner p {
        font-size: 12px;
    }

    footer .footer-inner p br {
        display: block;
    }

    footer .footer-inner p span {
        display: none;
    }
}
