@media (max-width: 768px) {
    .row {
        display: block;
    }

    .mySwiper2 {
        display: block;
    }

    aside {
        display: none;
    }

    #profile {
        width: 100%;
        margin-bottom: 2rem;
    }

    #profile .profile-thumb {
        top: 40%;
        left: 50%;
        border-radius: 50%;
        transform: translate(-50%, -50%);
    }

    #profile .profile-topBg {
        display: none;
    }

    #profile .profile-bottomBg {
        position: relative;
        height: 100%;
        padding: 0;
    }

    #profile .profile-title {
        position: absolute;
        text-align: center;
        width: 100%;
        /* left: 50%;
        transform: translateX(-50%); */
        bottom: 20%;
        margin-left: 0;
    }

    #overview,
    #carrier {
        padding: 2rem 1.25rem;
        margin-bottom: 2rem;
    }
    
    #carrier .education {
        margin-bottom: 2rem;
    }

}


@media (min-width: 320px) and (max-width: 375px) {

    #profile {
        height: 400px;
        padding: 2rem 1.25rem;
    }

    #profile h1 {
        font-size: 1.5rem;
    }

    #profile p {
        font-size: 1rem;
    }

    #profile .profile-thumb {
        width: 160px;
        height: 160px;
    }


    #overview .overview-inner,
    #carrier .education-inner,
    #carrier .experience-inner {
        padding: 1rem;
        border-radius: 0.5rem;
    }

    #overview h2,
    #carrier h2 {
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }

    #overview p,
    #carrier p  {
        font-size: 0.825rem;
    }
    
    #carrier h3 {
        font-size: 1rem;
    }

    .mySwiper2 {
        height: 360px;
    }

    #myInfo,
    #skills,
    #hobbies {
        box-shadow: none;
    }

    #myInfo h2,
    #skills h2,
    #hobbies h2 {
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }

    #myInfo .myInfo-element .myInfo-list-title {
        font-size: 0.825rem;
    }
    
    #myInfo .myInfo-element .myInfo-list-text {
        font-size: 0.825rem;
    }

    #skills button,
    #hobbies button {
        font-size: 0.75rem;
        border-radius: 0.25rem;
        padding: 0.5rem 0.5rem;
        margin-block-start: 0.25rem;
        margin-block-end: 0.25rem;
        margin-inline-end: 0.25rem;
    }
}

@media (min-width: 375.02px) and (max-width: 480px) {

    #profile {
        height: 500px;
        padding: 2rem 1.25rem;
    }

    #profile h1 {
        font-size: 2rem;
    }

    #profile p {
        font-size: 1rem;
    }

    #profile .profile-thumb {
        width: 200px;
        height: 200px;
    }

    #overview .overview-inner,
    #carrier .education-inner,
    #carrier .experience-inner {
        padding: 1rem;
        border-radius: 0.5rem;
    }

    #overview h2,
    #carrier h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    #overview p,
    #carrier p  {
        font-size: 1rem;
    }
    
    #carrier h3 {
        font-size: 1.25rem;
    }

    .mySwiper2 {
        height: 400px;
    }

    #myInfo,
    #skills,
    #hobbies {
        box-shadow: none;
    }

    #myInfo h2,
    #skills h2,
    #hobbies h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    #myInfo .myInfo-element .myInfo-list-title {
        font-size: 1rem;
    }
    
    #myInfo .myInfo-element .myInfo-list-text {
        font-size: 1rem;
    }

    #skills button,
    #hobbies button {
        font-size: 1rem;
        border-radius: 0.25rem;
        padding: 0.5rem 0.5rem;
        margin-block-start: 0.5rem;
        margin-block-end: 0.5rem;
        margin-inline-end: 0.5rem;
    }
}

@media (min-width: 480.02px) and (max-width: 768px) {
    #profile {
        height: 600px;
        padding: 4rem 2rem;
    }

    #profile .profile-thumb {
        width: 280px;
        height: 280px;
    }

    #profile h1 {
        font-size: 2.75rem;
    }

    #profile p {
        font-size: 1.5rem;
    }

    #profile .profile-title {
        bottom: 10%;
    }

    #overview,
    #carrier {
        padding: 4rem 2rem;
        margin-bottom: 2rem;
    }

    #overview .overview-inner,
    #carrier .education-inner,
    #carrier .experience-inner {
        padding: 2rem;
        border-radius: 0.5rem;
    }

    #overview h2,
    #carrier h2 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    #overview p,
    #carrier p  {
        font-size: 1.5rem;
    }

    #carrier h3 {
        font-size: 1.75rem;
        margin-bottom: 1rem;
    }

    #carrier .education-element:not(:last-child) {
        margin-bottom: 2.5rem;
    }

    #carrier .experience-element-title {
        margin-bottom: 1rem;
    }

    .mySwiper2 {
        height: 550px;
    }

    #myInfo,
    #skills,
    #hobbies {
        box-shadow: none;
        padding: 4rem 2rem;
    }

    #myInfo h2,
    #skills h2,
    #hobbies h2 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    #myInfo .myInfo-element {
        position: relative;
        margin-bottom: 1.5rem;
    }
    
    #myInfo .myInfo-element::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        width: 1rem;
        height: 1rem;
        border-radius: 0.125rem;
        border: 2px solid #0074D9;
    }

    #myInfo .myInfo-element p {
        font-size: 1.25rem;
        padding-left: 2.5rem;
    }
    
    #myInfo .myInfo-element .myInfo-list-title {
        color: #747474;
        font-weight: 600;
    }
    
    #myInfo .myInfo-element .myInfo-list-text {
        color: #0074D9;
        font-weight: 600;
    }

    #skills button,
    #hobbies button {
        font-size: 1.25rem;
        border-radius: 0.25rem;
        padding: 0.825rem 0.825rem;
        margin-block-start: 0.5rem;
        margin-block-end: 0.5rem;
        margin-inline-end: 0.5rem;
    }
}