
*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    outline: none;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #E5E5E5;
}

html {
    -webkit-text-size-adjust: 100%;
}

.--main {
    color: #0074D9;
}

.body-wrapper {
    position: relative;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    margin-left: 0;
    margin-right: 0;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .col-md-4 {
        flex: 0 0 32%;
        max-width: 32%;
        padding-left: 0;
        padding-right: 0;
    }

    .col-md-5 {
        flex: 0 0 38.6666666667%;
        max-width: 38.6666666667%;
        padding-left: 0;
        padding-right: 0;
    }

    .col-md-7 {
        flex: 0 0 58.6666666667%;
        max-width: 58.6666666667%;
        padding-left: 0;
        padding-right: 0;
    }

    .col-md-8 {
        flex: 0 0 65.3333333333%;
        max-width: 65.3333333333%;
        padding-left: 0;
        padding-right: 0;
    }
    
}


/* HEADER */
#header {
    display: flex;
    align-items: center;
    height: 96px;
    background-color: #fff;
}

#navbar {
    display: flex;
    flex: 1;
    padding: 0;
}

#navbar .logo {
    display: flex;
    align-items: center;
    margin-right: 64px;
}

#navbar .navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#navbar .navbar-nav .nav-item {
    list-style: none;
    margin-right: 64px;
}

#navbar .sns {
    display: flex;
    align-items: center;
    margin-left: auto;
}

#navbar .sns i {
    font-size: 32px;
}


/* MAIN BANNER */
#mainBnr {
    position: relative;
    width: 100%;
    height: 600px;
    margin-top: 60px;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, .25);
}

.mainBnr-element-left {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    padding: 0 64px;
    width: 645px;
}

.mainBnr-element-left h1 {
    font-size: 48px;
    font-weight: bold;
}

.mainBnr-element-right {
    width: 45%;
    height: 100%;
    margin-left: auto;
    background: url(https://images.unsplash.com/photo-1432251407527-504a6b4174a2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 16px 16px 0;
}



#aboutBnr {
    width: 100%;
    margin-top: 32px;
    padding: 32px;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, .25);
    margin-right: auto;
}

.about-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.setting-btn {
    display: flex;
    flex-direction: column;
    justify-content: center
}

.setting-btn span {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #222;
    margin-bottom: 4px;
}

.about-thumb {
    display: flex;
    justify-content: center;
    width: 250px;
    height: 250px;
    background-color: blue;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
}

.about-title {
    font-weight: bold;
    text-align: center;
    margin-bottom: 32px;
}

.about-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.about-element {
    font-size: 12px;
    color: #0074D9;
    font-weight: bold;
    background-color: #0074d910;
    padding: 16px;
    margin-right: 8px;
    margin-bottom: 8px;
    border-radius: 8px;
    text-align: center;
}

.about-element:nth-child(2n) {
    margin-right: 0;
}


#worksBnr {
    width: 100%;
    margin-top: 32px;
    padding: 32px;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, .25);
    margin-left: auto;
}























/* SECTION */
.profile-container {
    position: relative;
    width: 100%;
    height: 400px;
    margin-top: 60px;
    margin-right: auto;
    border-radius: 16px;
    background-clip: border-box;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, .25);
}

.profile-thumb {
    position: absolute;
    left: 32px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transform: translateY(50%);
    background-color: blue;
    border: 8px solid #fff;
    z-index: 99;
}

.profile-topBg {
    width: 100%;
    height: 200px;
    background-color: #666;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background: url(https://images.unsplash.com/photo-1432251407527-504a6b4174a2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-bottomBg {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: #fff;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.profile-title {
    position: absolute;
    top: 32px;
    left: 35%;
}

.profile-title h1 {
    font-weight: bold;
    margin: 0;
}

/* ASIDE */
aside {
    width: 100%;
    height: 400px;
    background-color: #fff;
    margin-left: auto;
    margin-top: 60px;
    border-radius: 16px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, .25);
}

.myInfo-container ul {
    position: relative;
    padding: 16px;
}

.myInfo-container li {
    display: flex;
    flex-direction: column;
    
}

.myInfo-container li p {
    
}

.myInfo-container li::before {
    content: "";
    display: block;
    float: left;
    left: 16px;
    width: 24px;
    height: 24px;
    background-color: blue;
    
}
