@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    outline: none;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: 222;
}

html {
    -webkit-text-size-adjust: 100%;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

.--main {
    color: #0074D9;
}

.body-wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-left: 0;
    margin-right: 0;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.setting-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: .5rem;
}

.setting-btn:last-child {
    margin-bottom: 0;
}

.setting-btn span {
    cursor: pointer;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #222;
    margin-bottom: 4px;
}





/* HEADER */

header {
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #fff;
    z-index: 1030;
    box-shadow: 5px -1px 12px -5px black;
}

#navbar {
    position: relative;
    display: flex;
    align-items: center;
}

#navbar .logo {
    margin-right: 32px;
}

#navbar .logo svg {
    width: 30px;
}

#navbar ul {
    display: flex;
    align-items: center;
    padding: 0;
}

#navbar ul li {
    font-weight: 500;
    padding: 24px 32px;
}

#navbar ul li a {
    color: #0074D9;
}
#navbar .sns {
    position: absolute;
    right: 0;
}

#navbar .sns i {
    font-size: 32px;
}

#navbar .nav-button {
    position: absolute;
    cursor: pointer;
    right: 0;
}

#navbar .nav-button .bar {
    display: block;
    background-color: #666;
    width: 20px;
    height: 2px;
    margin-bottom: 4px;
    transition: all 0.3s ease;
}

.nav-open #navbarMenuMo {
    visibility: visible;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: calc(100% - 50px);
    min-height: 100vh;
    background-color: #fff;
    z-index: -1;
}

.nav-open #navbarMenuMo ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0;
}

.nav-open #navbarMenuMo ul li {
    padding: 24px 0;
}

.nav-open #navbarMenuMo ul li a {
    font-size: 24px;
    font-weight: bold;
    color: #0074D9;
}

.nav-open .nav-button>.bar1 {
    transform: translateY(6px) rotate(-45deg);
}

.nav-open .nav-button>span:nth-child(2) {
    opacity: 0;
}

.nav-open .nav-button>span:nth-child(3) {
    transform: translateY(-6px) rotate(45deg);
}


/* MAIN BANNER */
#mainBnr {
    position: relative;
    width: 100%;
    height: 600px;
    margin-top: 128px;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, .25);
}

#mainBnr .mainBnr-element-left {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    padding: 0 64px;
    width: 645px;
}

#mainBnr .mainBnr-element-left h1 {
    font-size: 48px;
    font-weight: 900;
}

#mainBnr .mainBnr-element-left p {
    color: #747474;
    font-size: 20px;
}

#mainBnr .mainBnr-element-right {
    width: 45%;
    height: 100%;
    margin-left: auto;
    background: url(https://images.unsplash.com/photo-1432251407527-504a6b4174a2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 16px 16px 0;
}


/* ABOUT BANNER */
#aboutBnr {
    width: 100%;
    margin-top: 32px;
    padding: 32px;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, .25);
    margin-right: auto;
}

#aboutBnr .aboutBnr-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

#aboutBnr .aboutBnr-head h2 {
    font-size: 24px;
    font-weight: 900;
    margin: 0;
}

#aboutBnr .aboutBnr-thumb {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color: blue;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
}

#aboutBnr .aboutBnr-title {
    margin-bottom: 32px;
}

#aboutBnr .aboutBnr-title h1 {
    font-size: 32px;
    font-weight: 900;
    margin: 0;
}

#aboutBnr .aboutBnr-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

#aboutBnr .aboutBnr-item-title h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 16px;
    padding: 8px;
    border-radius: 8px;
    background-color: #0074D9;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .25);
}

#aboutBnr .aboutBnr-element {
    width: 49%;
    font-size: 16px;
    color: #0074D9;
    font-weight: bold;
    text-align: center;
    background-color: #0074d910;
    border-radius: 8px;
    padding: 12px 0;
    margin: 0;
    margin-bottom: 6px;
}

#aboutBnr .aboutBnr-element:nth-child(2n) {
    margin-right: 0;
}


/* WORKS BANNER */
#worksBnr {
    width: 100%;
    margin-top: 32px;
    padding: 32px;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, .25);
    margin-left: auto;
}

#worksBnr .worksBnr-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

#worksBnr .worksBnr-head h2 {
    font-size: 24px;
    font-weight: 900;
    margin: 0;
}

.worksBnr-title {
    text-align: left;
    margin-bottom: 32px;
}

#worksBnr .worksBnr-title h1 {
    font-size: 32px;
    font-weight: 900;
    margin: 0;
}


#worksBnr .works-card {
    display: flex;
}

#cardCarousel {
    display: flex;
    overflow: scroll;
    overflow: hidden;
    overflow-x: auto;
    -ms-overflow-style: none;
    /* Hide the scrollbar for MS Edge */
    scrollbar-width: none;
    /* Hide the scrollbar for Mozilla Firefox */
    height: fit-content;
    width: fit-content;
    width: 100%;
}

#cardCarousel::-webkit-scrollbar {
    display: none;
    /* Hide the scrollbar on Webkit based browsers (Chrome, Safari, etc) */
    -webkit-overflow-scrolling: touch;
    /* On touch screens the content continues to scroll for a while after finishing the scroll gesture */
}

.card {
    width: 270px;
    background-color: #f1f3f4;
    border-radius: 8px;
    margin-right: 24px;
    border: none;
}

.card-image {
    display: block;
    width: 270px;
    height: 270px;
    background-color: blue;
    border-radius: 8px 8px 0 0;
}

.card-body {
    padding: 24px 16px;
}

.card-body a {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .25);
}

.card h2  {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 16px;
}

.card p {
    font-size: 16px;
    color: #747474;
}


/* FOOTER */
footer {
    margin-top: 64px;
    width: 100%;
    background-color: #fff;
}

.footer-inner {
    display: table;
    text-align: center;
    height: 160px;
    padding: 16px;
    margin-left: auto;
    margin-right: auto;
}

footer .footer-inner p {
    font-weight: 500;
    display: table-cell;
    vertical-align: middle;
    color: #747474;
}

footer .footer-inner p br {
    display: none;
}
















/* SECTION */
.profile-container {
    position: relative;
    width: 100%;
    height: 400px;
    margin-top: 60px;
    margin-right: auto;
    border-radius: 16px;
    background-clip: border-box;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, .25);
}

.profile-thumb {
    position: absolute;
    left: 32px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transform: translateY(50%);
    background-color: blue;
    border: 8px solid #fff;
    z-index: 99;
}

.profile-topBg {
    width: 100%;
    height: 200px;
    background-color: #666;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background: url(https://images.unsplash.com/photo-1432251407527-504a6b4174a2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-bottomBg {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: #fff;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.profile-title {
    position: absolute;
    top: 32px;
    left: 35%;
}

.profile-title h1 {
    font-weight: bold;
    margin: 0;
}

/* ASIDE */
aside {
    width: 100%;
    height: 400px;
    background-color: #fff;
    margin-left: auto;
    margin-top: 60px;
    border-radius: 16px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, .25);
}

.myInfo-container ul {
    position: relative;
    padding: 16px;
}

.myInfo-container li {
    display: flex;
    flex-direction: column;
    
}

.myInfo-container li p {
    
}

.myInfo-container li::before {
    content: "";
    display: block;
    float: left;
    left: 16px;
    width: 24px;
    height: 24px;
    background-color: blue;
}
