@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --main-color: #0273d7;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    outline: none;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: 222;
}

html {
    -webkit-text-size-adjust: 100%;
}

a {
    text-decoration: none;
    color: 333;
}

ul, li {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.--main {
    color: var(--main-color);
}

main {
    width: 100%;
    max-width: 1200px;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-top: 8rem;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-left: 0;
    margin-right: 0;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.fw-600 {
    font-weight: 600;
}

/* NAVIGATION */

#navbar {
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #fff;
    z-index: 1030;
    box-shadow: 5px -1px 12px -5px black;
}

#navbar .nav-container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

#navbar .logo {
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

#navbar .logo svg {
    width: 2rem;
}

#navbar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}

#navbar ul li {
    font-weight: 500;
    padding: 1.5rem 2rem;
}

#navbar ul li a {
    color: var(--main-color);
}

#navbar .sns {
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin-left: auto;
}

#navbar .sns a {
    font-size: 2rem;
    color: var(--main-color);
}

#navbar .sns a i {
    display: block;
}

#navbar .nav-button {
    display: none;
    cursor: pointer;
    z-index: 1040;
}

#navbar .nav-button .bar {
    display: block;
    background-color: #666;
    width: 1.25rem;
    height: 0.125rem;
    margin-bottom: 0.25rem;
    transition: all 0.3s ease;
}

.nav-open {
    overflow: hidden;
}

.nav-open #navbarMenu {
    visibility: visible;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: calc(100% - 50px);
    min-height: 100vh;
    background-color: #fff;
    z-index: -1;
    transition: all 0.3s ease;
}

.nav-open #navbarMenu ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0;
}

.nav-open #navbarMenu ul li {
    padding: 1.5rem 0;
}

.nav-open #navbarMenu ul li a {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--main-color);
}

.nav-open .nav-button>.bar1 {
    transform: translateY(6px) rotate(-45deg);
}

.nav-open .nav-button>span:nth-child(2) {
    opacity: 0;
}

.nav-open .nav-button>span:nth-child(3) {
    transform: translateY(-6px) rotate(45deg);
}


/* MAIN BANNER */

.setting-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.setting-btn:last-child {
    margin-bottom: 0;
}

.setting-btn span {
    cursor: pointer;
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 50%;
    background-color: #222;
    margin-bottom: 0.25rem;
}

#mainBnr {
    position: relative;
    width: 100%;
    height: 600px;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, .25);
}

#mainBnr .mainBnr-element-left {
    position: absolute;
    top: 50%;
    left: 0;
    width: 55%;
    padding: 0 4rem;
    transform: translate(0, -50%);
}

#mainBnr .mainBnr-element-left h1 {
    font-size: 3rem;
    font-weight: 900;
}

#mainBnr .mainBnr-element-left p {
    color: #747474;
    font-size: 1.25rem;
}

#mainBnr .mainBnr-element-right {
    width: 45%;
    height: 100%;
    margin-left: auto;
    background: url(https://images.unsplash.com/photo-1432251407527-504a6b4174a2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 1rem 1rem 0;
}


/* ABOUT BANNER */

#aside {
    display: none;
}

#aboutBnr {
    width: 100%;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, .25);
    margin-right: auto;
}

#aboutBnr .aboutBnr-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

#aboutBnr .aboutBnr-head h2 {
    font-size: 1.5rem;
    font-weight: 900;
    margin: 0;
}

#aboutBnr .aboutBnr-thumb {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color: blue;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

#aboutBnr .aboutBnr-title {
    margin-bottom: 2rem;
}

#aboutBnr .aboutBnr-title h1 {
    font-size: 2rem;
    text-align: center;
    font-weight: 900;
    margin: 0;
}

#aboutBnr .aboutBnr-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

#aboutBnr .aboutBnr-item-title h3 {
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--main-color);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .25);
}

#aboutBnr .aboutBnr-element {
    width: 49%;
    font-size: 1rem;
    color: var(--main-color);
    font-weight: bold;
    text-align: center;
    background-color: rgba(0, 116, 217, 0.1);
    border-radius: 0.5rem;
    padding: 1rem 0;
    margin: 0;
    margin-bottom: 0.5rem;
}

#aboutBnr .aboutBnr-element:nth-child(2n) {
    margin-right: 0;
}


/* WORKS BANNER */
#worksBnr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, .25);
    margin-left: auto;
}

#worksBnr .worksBnr-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

#worksBnr .worksBnr-head h2 {
    font-size: 1.5rem;
    font-weight: 900;
    margin: 0;
}

#worksBnr .worksBnr-title {
    text-align: left;
    margin-bottom: 1rem;
}

#worksBnr .worksBnr-title h1 {
    font-size: 2rem;
    font-weight: 900;
    margin: 0;
}

/* CARD CAROUSEL SLIDE */
#cardCarousel {
    position: relative;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;
    /* Hide the scrollbar for MS Edge */
    scrollbar-width: none;
    /* Hide the scrollbar for Mozilla Firefox */
    width: 100%;
    cursor: pointer;
    transition: all 0.2s;
}

#cardCarousel::-webkit-scrollbar {
    display: none;
    /* Hide the scrollbar on Webkit based browsers (Chrome, Safari, etc) */
    -webkit-overflow-scrolling: touch;
    /* On touch screens the content continues to scroll for a while after finishing the scroll gesture */
}

#cardCarousel.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

#cardCarousel .card {
    width: 270px;
    background-color: #f1f3f4;
    border-radius: 0.5rem;
    margin-right: 1.5rem;
    border: none;
}

#cardCarousel .card .card-image {
    display: block;
    width: 270px;
    height: 270px;
    background-color: blue;
    border-radius: 0.5rem 0.5rem 0 0;
}

#cardCarousel .card .card-body {
    padding: 2rem 1rem;
}

#cardCarousel .card .card-body h2 {
    font-size: 1.5rem;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 1rem;
}

#cardCarousel .card .card-body p {
    font-size: 1rem;
    color: #747474;
}

#cardCarousel .card .card-body a {
    display: table-cell;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    padding: 0.75rem;    
    margin-top: 1rem;
    border-radius: 0.5rem;
    background-color: var(--main-color);
}

/* CARD CAROUSEL CONTROLS */
.cardCarousel-controls {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardCarousel-controls a {
    font-size: 1rem;
    color: #747474;
}

.cardCarousel-control-prev,
.cardCarousel-control-next {
    display: flex;
    flex-direction: row;
}

.cardCarousel-control-next-icon {
    display: block;
    order: 2;
}

.cardCarousel-control-prev-icon i {
    padding-right: 0.25rem;
}

.cardCarousel-control-next-icon i {
    padding-left: 0.25rem;
}


/* FOOTER */
footer {
    margin-top: 4rem;
    width: 100%;
    background-color: #fff;
}

footer .footer-inner {
    display: table;
    text-align: center;
    height: 160px;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
}

footer .footer-inner p {
    font-weight: 500;
    display: table-cell;
    vertical-align: middle;
    color: #747474;
}

footer .footer-inner p br {
    display: none;
}

